/******GENERAL******/

*, *::before {
    box-sizing: border-box;
}

html {
    color: #FEF200;
    background-color: #FE001A;
    font-family: 'Joti One', cursive;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 3em;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.5em;
}

footer {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    flex: 1 0 auto;
}

.display::before {
    content: "";
    position: absolute;
    border: 4px none #FEF200;
    border-radius: 25px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(../img/palmtrees.jpg);
    opacity: 0.25;
}

.display {
    margin-bottom: 2em;
    z-index: 1;
    padding: 3em;
    font-size: 1.2em;
    color: #FEF200;
    position: relative;
}

/******FORMS******/
.option {
    position: relative;
    padding: 1em 0;
    width: 20%;
    margin: 0 auto;
}

.option label,
.banana {
    transition: opacity .5s ease-out;
    opacity: 0.5;
}

.option:first-child label,
.option:first-child .banana {
    opacity: 1;
}

.option label {
    display: inline-block;
    left: 0;
    font-size: 1.5em;
    padding-left: 2.2em;
    cursor: pointer;
}

.banana {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
}

.banana-body {
    fill: #FEF200;
}

.option input[type="radio"] {
    position: absolute;
    z-index: 10;
    display: inline-block;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.split {
    display: flex;
    justify-content: center;
}

.number-text {
    display: flex;
    align-items: center;
}

.number-text {
    font-size: 1.5em;
}

#amount {
    margin-left: 0.5em;
    width: 100px;
    height: 65px;
    padding: 0 0.75em;
    font-size: 1em;
    font-weight: bold;
    border: 4px solid coral;
    outline: none;
}

#generate {
    margin: 3em auto;
    font: inherit;
    font-weight: bold;
    color: #FE001A;
    display: block;
    width: 200px;
    height: 60px;
    outline: none;
    border: 4px coral solid;
    background-color: #FEF200;
    border-radius: 10px;
    cursor: pointer;
}

/******TOTAL SECTIONS******/
h3 {
    text-align: center;
}

.totals,
.total{
    display: flex;
}

.totals {
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto 3em;
}

.totals span {
    display: block;
}

.total span:first-child {
    width: 100px;
}

.count {
    margin: auto;
}

/******ANIMATIONS******/

@keyframes click-banana {
    from {
        transform: scale(1.0);
    }

    25% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.5);
    }

    75% {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.0);
    }
}

.click-banana {
    animation: 0.5s cubic-bezier(1,-0.08,.88,.88) click-banana;
}
