/******GENERAL******/

*, *::before {
    box-sizing: border-box;
}

html {
    /*background: url(../img/dk.jpg) center/70% no-repeat #FE001A;*/
    color: #FEF200;
    background-color: #FE001A;
    font-family: 'Joti One', cursive;
}

.title {
    font-size: 3em;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.5em;
}

footer {
    text-align: center;
    font-size: 2em;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

/******FORMS******/
.option {
    position: relative;
    padding: 1em 0;
    width: 20%;
    margin: 0 auto;
}

.option label {
    display: inline-block;
    opacity: 0.5;
    font-size: 1.5em;
    padding-left: 2.2em;
    cursor: pointer;
}
/*
.option label::before {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 0;
    top: 10px;
    position: absolute;
    border: 4px solid coral;
    content: '';
}
*/

.banana {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
    opacity: 0.5;
}

.banana-body {
    fill: #FEF200;
}

.option input[type="radio"] {
    position: absolute;
    z-index: 10;
    display: inline-block;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.split {
    display: flex;
    justify-content: center;
}

.number-text {
    display: flex;
    align-items: center;
}

.number-text {
    font-size: 1.5em;
}

#amount {
    margin-left: 0.5em;
    width: 100px;
    height: 65px;
    padding: 0 0.75em;
    font-size: 1em;
    font-weight: bold;
    border: 4px solid coral;
    outline: none;
}

#generate {
    margin: 3em auto;
    font: inherit;
    font-weight: bold;
    color: #FE001A;
    display: block;
    width: 200px;
    height: 60px;
    outline: none;
    border: 4px coral solid;
    background-color: #FEF200;
    border-radius: 10px;
    cursor: pointer;
}
