    <body>
        <h1 class="title">Donkey Kong Lorem Ipsum</h1>
        <div class="main">
            <form action="/" method="POST">
                <h2>Text Format</h2>
                <div class="split">
                    <div class="number-text">
                        <label for="amount">Amount</label>
                        <input type="text" name="amount" id="amount">
                    </div>
                    <div class="options">
                        {{option.html}}
                        {{option.html}}
                        {{option.html}}
                    </div>
                </div>
                <input type="submit" name="generate" id="generate" value="Generate">
            </form>
        </div>
