<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <h1>Donkey Kong Lorem Ipsum</h1>
        <div class="main">
            <div class="display"></div>
            <form action="/" method="POST">
                <h2>Text Format</h2>
                <div class="options">
                    <div class="option">     
                        <input type="radio" name="text" id="words">
                        <label for="words">Words</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="text" id="sentences">
                        <label for="sentences">Sentences</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="text" id="paragraphs">
                        <label for="paragraphs">Paragraphs</label>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
