            <div class="totals">
                <h3>Count Totals:</h3>
                <div class="total">
                    <span>Words:</span>
                    <span class="count">{{countW}}</span>
                </div>
                <div class="total">
                    <span>Sentences:</span>
                    <span class="count">{{countS}}</span>
                </div>
                <div class="total">
                    <span>Paragraphs:</span>
                    <span class="count">{{countP}}</span>
                </div>
            </div>
